/*body {
	margin: 0;
	padding: 0;
}*/

#canvas {
	width: 1000px;
	height: 800px;
	display: block;
	margin: 0px auto 0px;
}

#canvasCar, #canvasEnemie, #canvasMenu, #canvasScore, #canvasGO {
	width: 1000px;
	height: 800px;
	display: block;
	margin: -800px auto 0px;
}


/*#webCamWindow {
	border: 1px solid #000;
	width: 640px;
	height:  480px;
	position: absolute;
	top: 0;
	opacity: 1;
	left: 0;	
}

#canvas {
	position: absolute;
	opacity: 1;
	top: 0;
	left: 0;
	width: 640px;
	height:  480px;
}

#movement {
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid red;
	background: rgba(255,0,0,0.3);
}*/