.navbar.navbar-default {
  background-color: #092756;

}

.navbar-header a {
  color: #AA8F00;
}

.main {
  background-color: white;
  color: #666666;
  font-family: Helvetica, sans-serif;
  font-size: 60px;
  font-weight: bold;
  line-height: 75px;
  margin: 50px auto;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

.main a {
  color: #AA8F00;
  text-decoration: none;
}

.main a:hover {
  text-decoration: underline;
}

@media (max-width: 650px) {
  .main {
    font-size: 34px;
    line-height: 40px;
    margin: 20px auto;
  }
}

#mainNavBar a:hover {
    background-color: grey;
}
