<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css" media="screen">
    <link rel="stylesheet" href="../fonts/css/font-awesome.min.css">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Economica|Shadows+Into+Light" rel="stylesheet">
    <link rel="stylesheet" href="../fonts/css/font-awesome.min.css">
    <title>Artur Lan</title>
  </head>
  <body>
    <div class="page" id="developing">
      <header>
        <div class="row">
          <h1 id="name"><a href="../index.html">Artur Lan </a><span class="isitalic">is</span></h1>
          <ul>
            <li><a id="developing" href="developing.html">developing</a>,</li>
            <li><a id="thinking" href="thinking.html">thinking</a>,</li>
            <li><a id="running" href="running.html">running</a>,</li>
            <li><a id="making" href="making.html">making</a>,</li>
            <li><a class="collecting" id="collecting" href="collecting.html">collecting</a>,</li>
            <li><a id="reading" href="reading.html">reading</a>,</li>
            <li><span id="and">and</span> <a id="playing" href="#">playing around</a></li>
            <ul class="social">
              <li><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/arturlan">github</a></li>
              <li><i class="fa fa-linkedin-square" aria-hidden="true"></i><a href="https://www.linkedin.com/in/arturlan">linkedin</a></li>
              <li><i class="fa fa-twitter" aria-hidden="true"></i><a href="https://twitter.com/arturrlan">twitter</a></li>
            </ul>
          </ul>
          <hr id="horizontalLineDesktop">
          <hr id="horizontalLineMobile">
        </div>
      </header>
      <div class="container" id="projects">


        <div id="mobile">
          <img src="../images/racing-game.png" alt="">
          <p>Shun Yellow Cab</p>
          <a href="https://github.com/arturlan/racing-game"><i class="fa fa-github" aria-hidden="true"></i>github</a>

          <img src="../images/pickalunch.png" alt="">
          <p>Lunch Roulette</p>
          <a href="https://github.com/arturlan/lunchRoulette"><i class="fa fa-github" aria-hidden="true"></i>github</a>
        </div>


        <div class="content">
          <div class="grid">
            <figure class="efect-rich">
              <img src="../images/racing-game.png" alt="img1"/>
              <figcaption>
                <div>
                  <h3>Shun Yellow Cab</h3>
                  <p>HTML5 Game</p>
                </div>
                <a href="http://cumbersome-fact.surge.sh/" target="_blank"></a>
              </figcaption>
            </figure>
            <figure class="efect-rich">
              <img src="../images/pickalunch.png" alt="img2"/>
              <figcaption>
                <div>
                  <h3>Lunch Roulette</h3>
                  <p>Express.js App</p>
                </div>
                <a href="https://pickalunch.herokuapp.com/" target="_blank"></a>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/script.js"></script>
  </body>
</html>
